.banner {
  h2 {
    font-size: 66px;
  }
  background: url("../img/midjourney01.png");
  padding-top: 160px;
}

.about-us {
  background: url("../img/bgForAboutUs.png");
  padding-top: 156px;
}

.core-value {
  background: url("../img/bgForWinwin.jpg");
  padding-top: 220px;
}

.join-us {
  background: url("../img/joinus.jpg");
  padding-top: 120px;
}

.service {
  h2 {
    position: absolute;
    left: 12%;
    top: 50%;
  }

  position: relative;
  background: url("../img/diagram.jpg");
  width: 100%;
  height: 108vh;
  background-repeat: no-repeat;
  background-size: cover;

  .list-item {
    position: absolute;
  }
}

.tech {
  left: 46%;
  top: 247px;
}

.requirement {
  left: 50%;
  top: 440px;
}

.team {
  left: 46%;
  top: 630px;
}
